.DS_Store
samples_for_ag.granular.suite.demo.all/_Readme.txt
samples_for_ag.granular.suite.demo.all/_license.txt
samples_for_ag.granular.suite.demo.all/box_tom.aif
samples_for_ag.granular.suite.demo.all/box_tom1.aif
samples_for_ag.granular.suite.demo.all/box_tom2.aif
samples_for_ag.granular.suite.demo.all/cello_b+c_cresc+incbowpress_cut.wav
samples_for_ag.granular.suite.demo.all/cello_bc_clb+gliss_cut.wav
samples_for_ag.granular.suite.demo.all/chain_chucks.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/chain_chucks.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/chain_chucks.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/chain_chucks.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/chain_chucks.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/chain_chucks.06.MIC2.wav
samples_for_ag.granular.suite.demo.all/chain_chucks_small.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/chain_chucks_small.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/chain_chucks_small.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/freesound/102481_sandyrb_IMPROV_PERCS_093_2_BARS_130_BPM.wav
samples_for_ag.granular.suite.demo.all/freesound/102492_sandyrb_IMPROV_PERCS_104_2_BARS_130_BPM.wav
samples_for_ag.granular.suite.demo.all/freesound/109953__Timbre__djembe_loop_13_variant_.wav
samples_for_ag.granular.suite.demo.all/freesound/111159__bronxio__Drumloop_96BPM_En_marcha.wav
samples_for_ag.granular.suite.demo.all/freesound/24931__VEXST__Breakment_1.1.wav
samples_for_ag.granular.suite.demo.all/freesound/3450__patchen__booba_slo.wav
samples_for_ag.granular.suite.demo.all/freesound/99479_Corsica_S_we_shouldnt_be_here.wav
samples_for_ag.granular.suite.demo.all/freesound/license.txt
samples_for_ag.granular.suite.demo.all/gong_muted_low.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/harpsi_c2.aif
samples_for_ag.granular.suite.demo.all/harpsi_c3.aif
samples_for_ag.granular.suite.demo.all/harpsi_c4.aif
samples_for_ag.granular.suite.demo.all/harpsi_c5.aif
samples_for_ag.granular.suite.demo.all/harpsi_c6.aif
samples_for_ag.granular.suite.demo.all/harpsi_cluster_high.aif
samples_for_ag.granular.suite.demo.all/harpsi_cluster_high_short1_deacay.aif
samples_for_ag.granular.suite.demo.all/harpsi_cluster_highest.aif
samples_for_ag.granular.suite.demo.all/harpsi_cluster_low_decay.aif
samples_for_ag.granular.suite.demo.all/knock+noiss.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock+noiss.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock+noiss.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock+noiss.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock+noiss.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock+noiss_hi.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/knock_hi_reso.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/low+hi_reso.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_bell_long_dec.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_bell_long_dec.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_bell_long_dec.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_bell_long_dec.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_bell_long_dec.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_boxy_short.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_boxy_short.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_boxy_short.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_celeste.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_celeste.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_celeste.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_celeste.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_celeste.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_celeste_muted.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_celeste_muted.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_celeste_muted.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.06.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.07.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.08.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.09.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.10.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong.11.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy.06.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy.07.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy.08.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy_thin_reso.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy_thin_reso.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_gong_boxy_thin_reso.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group2.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group2.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group2.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group2.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group2.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group3.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group3.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group3.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group3.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group3.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group3.06.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_group3.07.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_hi_reso.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_hi_reso.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_hi_reso.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_hi_reso.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_hi_reso.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_hi_reso.06.MIC2.wav
samples_for_ag.granular.suite.demo.all/metal_objs_hi_reso.07.MIC2.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_bell_plastic_ruler_inbetween.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_bell_plastic_ruler_inbetween2.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_broken_string_metal_on_top.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_broken_string_metal_on_top2.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_broken_string_metal_on_top3.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_broken_string_metal_on_top4.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_broken_string_metal_on_top5.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_chain_dragged_on_strings1.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_chain_dropped_and_dragged.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_chain_dropped_on_strings.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_clickclanck.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_muted_string_low.wav
samples_for_ag.granular.suite.demo.all/piano_1shot_plastic_dropped_on_strings.wav
samples_for_ag.granular.suite.demo.all/piano_broken_strings_plastic_inbetween.wav
samples_for_ag.granular.suite.demo.all/pops.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/pops.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/pops.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/pops.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/pops.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/pops.06.MIC2.wav
samples_for_ag.granular.suite.demo.all/shakers.01.MIC2.wav
samples_for_ag.granular.suite.demo.all/shakers.02.MIC2.wav
samples_for_ag.granular.suite.demo.all/shakers.03.MIC2.wav
samples_for_ag.granular.suite.demo.all/shakers.04.MIC2.wav
samples_for_ag.granular.suite.demo.all/shakers.05.MIC2.wav
samples_for_ag.granular.suite.demo.all/shakers.06.MIC2.wav
samples_for_ag.granular.suite.demo.all/uhmf.01.MIC2.wav